:root {
  --button-bg: #121212;
  --invert-op: #ffffff23;
  --invert: #fff;
  --button-child: #fff;
}

html {
  background-color: white;
  color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --button-bg: #fff;
    --invert: #121212;
    --invert-op: #1212124d;
    --button-child: #000;
  }

  html {
    background-color: black;
    color: white;
  }
}

br {
  display: none;
}

::placeholder {
  color: #bbb;
}

::-webkit-scrollbar {
  display: none;
}

:disabled {
  opacity: .5;
  transition: .3s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: inherit;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: 'SF Pro Display', sans-serif;
  cursor: url('http://vxncius-dev.github.io/NoteIO/app/cursor.svg'), auto;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  max-width: 600px;
  min-width: 400px;
  margin-inline: auto;
  padding-inline: 40px;
  height: 100vh;

  button,
  a,
  button *,
  a * {
    cursor: url('http://vxncius-dev.github.io/NoteIO/app/cursor_pointer.svg'), auto;
  }

  textarea,
  input[type="text"],
  *[contenteditable] {
    cursor: url('http://vxncius-dev.github.io/NoteIO/app/cursor_text.svg'), auto;
  }

  .column-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 40px;

    h1 {
      font-family: 'PT Serif', sans-serif;
      font-weight: bold;
      font-style: italic;
    }

    nav {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      height: 40px;
      margin-bottom: 10px;
    }
  }

  .button-group {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  #dialog {
    width: 100%;
    height: calc(100vh - 40px);
    overflow: hidden;

    div{
      position: relative;
      height: 100%;
    }

    input,
    textarea {
      width: 100%;
      height: 100%;
      border: 1px solid #ccc;
      border-radius: 6px;
      padding: 7px 10px;
      white-space: nowrap;
    }

    textarea {
      white-space: pre-wrap;
      word-break: break-word;
      word-wrap: break-word;
    }

    .button-group {
      position: absolute;
      bottom: 8px;
      right: 10px;
      height: 40px;
      justify-content: end;
    }
  }

  .button-style {
    padding: 6px 8px;
    border-radius: 6px;
    transition: .3s;
    overflow: hidden;
    white-space: nowrap;
    background: var(--button-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;

    p {
      color: var(--button-child);
    }

    i {
      margin-bottom: -4px;
      color: var(--button-child);
      font-size: 1.28em;
    }
  }

  .outline {
    background: none;
    border: 1px solid #666;

    i,
    p {
      color: var(--button-bg);
    }
  }

  ul {
    overflow-y: auto;
    height: 78vh;
    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
      display: flex;
      align-items: start;
      border: 1px solid #666;
      border-radius: 10px;
      padding: 15px;

      div {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
        gap: 7px;
        margin-bottom: 5px;
      }
    }

    textarea {
      resize: none;
      margin-right: 10px;
    }

    li:not(.noStyle) textarea:not(:focus) {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  #shareContentDialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--invert-op);
    backdrop-filter: blur(2px);
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;

    #shareContent {
      background: var(--invert);
      padding: 20px 25px;
      width: 400px;
      height: 160px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .share-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        #text-outline {
          background: none;
          flex: 1;
          justify-content: start;
          border: 1px solid #666;
        }
      }
    }
  }
}
